body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

canvas {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  background-color: white;
}