body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

canvas {
  border: 1px solid black;
  width: 80vw;          
  max-width: 1000px;    
  max-height: 600px;    
  height: auto;      
  background-color: white;
}